#header {
	grid-area: header;
	background-image: var(--header-bg-1280);
}

@media (max-width: 1279px) {
	#header {
		background-image: var(--header-bg-1024);
	}
}

@media (max-width: 1023px) {
	#header {
		background-image: var(--header-bg-800);
	}
}

@media (max-width: 799px) {
	#header {
		background-image: var(--header-bg-640);
	}
}
