@import url("https://cdn.kernvalley.us/css/core-css/theme/default/index.css");

:root {
	--title-font: "Libertine";

	--nav-height: 3.7rem;
	--header-height: 0;
	--footer-height: auto;

	--header-bg-1280: url("/img/background/home-1280.jpg");
	--header-bg-1024: url("/img/background/home-1024.jpg");
	--header-bg-800: url("/img/background/home-800.jpg");
	--header-bg-640: url("/img/background/home-640.jpg");
}
